@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@500&display=swap');

h1{
    color: black;
    font-size: 35pt;
    margin-left: 59px;
    font-family: 'Overpass', Arial, sans-serif;
}
body{
    background-color: #cc9406; 
}
section{
    background-color: white;
    padding: 20px;
    font-family: 'PT sans', Arial, sans-serif;
    margin: 40px;
    border-radius: 27px;
    max-width: 450px;
    height: 380px;
}
label{
    font-size: 23px;
}
input{
    width: 130px;
    height: 30px;
}
#btn{
    margin-top: 13px;
    margin-left: 10px;
    width: 87px;
    height: 39px; 
}
select{
    margin: 8px;
    font-size: 18px;
    font-family: 'PT sans', Arial, sans-serif;
    padding: 15px;
}
footer{
    font-size: 21px;
    margin-left: 95px;
    color: black;
    font-family: 'PT sans';
}